// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Pasek nawigacyjny
.navbar-nav .nav-link {
    font-size: 110%;
    margin-right: 15px;
}

// Pasek nawigacyjny logo - tekst
.logo-text {
    font-size: 110%;
}

.nav-link.active {
    color: #1D1616 !important;
    font-weight: 600 !important;
}

// Drop down menu
.dropdown-menu .dropdown-item {
    border-radius: 6px !important;
    transition: background-color 0.2s ease;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: #f0f0f0 !important;
    color: black !important;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background-color: #e0e0e0 !important;
    color: black !important;
}

// Accordion - brak niebieskiego i ładne kolory
.accordion-button {
    transition: background-color 0.2s ease;
}

.accordion-button:not(.collapsed) {
    background-color: #f0f0f0 !important;
    color: #212529 !important;
    border-radius: 0.375rem;
    box-shadow: none !important;
}

.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button.collapsed:hover {
    background-color: #f8f9fa !important;
}

.accordion-button:not(.collapsed).active {
    background-color: #e0e0e0 !important;
}
