// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Pasek nawigacyjny
.navbar-nav .nav-link {
    font-size: 110%;
    margin-right: 15px;
}

// Pasek nawigacyjny logo - tekst
.logo-text {
    font-size: 110%;
}

.nav-link.active {
    color: #1D1616 !important;
    font-weight: 600 !important;
}